# This is a link created through cmake
config/xml/ECS
config/xml/MotorCycle
config/xml/RebaPrediction
install

# Emacs backup files
*~

.idea
.vscode

# Artistic style indentation backup files
*.before_astyle

klocwork

build*
